Repository otomadb/web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: 'pnpm eslint --fix {staged_files}
  
    git add {staged_files}
  
    '

prettier:
  run: 'pnpm prettier --write --ignore-unknown {staged_files}
  
    git add {staged_files}
  
    '

TagButtonのdisabledの使い方がおかしい問題を修正 (#941)
  components/CommonTag/index.tsx
  components/Form/TagButton.stories.tsx
  components/Form/TagButton.tsx
Due: eslint, prettier

`extractBilibiliSourceId`の`console.log`を消す
  utils/extractSourceId.ts
Due: eslint, prettier

`extractBilibiliSourceId`の`console.log`を消す (#944)
  utils/extractSourceId.ts
Due: eslint, prettier

`/api/graphql`に切り替える
  app/(application)/layout.tsx
  app/UrqlProvider.tsx
  app/api/auth/[auth0]/route.ts
  app/api/graphql/route.ts
  middleware.ts
  middlewares/withTopRedirect.ts
Due: eslint, prettier

skip pre-commit merge or rebase
  lefthook.yml
Due: prettier

signin
  app/(application)/(normal)/layout.tsx
  app/(landing)/about/SignUpButton.tsx
  app/(landing)/about/page.tsx
  components/AuthLink/index.tsx
  components/GlovalNav/LoginButton.tsx
  components/GlovalNav/ProfileAccordion/index.tsx
  components/GlovalNav/index.tsx
  components/Pictogram.tsx
Due: eslint, prettier

fix globalnav
  components/GlovalNav/index.tsx
Due: eslint, prettier

Lefthookでmergeとrebase時にlintしない (#948)
  lefthook.yml
Due: prettier

Node.jsのバージョンをVercelのものに固定
  .node-version
  package.json
Due: prettier

fx
  package.json
Due: prettier

Node.jsのバージョンをVercelのものに固定 (#896)
  .node-version
  package.json
Due: prettier

add env
  .env.production
Due: none

middleware on `/`
  middleware.ts
Due: eslint, prettier

fx
  .env.production
Due: none

fixmore!
  app/(application)/(normal)/Guard.tsx
  app/(application)/(normal)/layout.tsx
  app/api/auth/[auth0]/route.ts
  app/api/graphql/route.ts
Due: eslint, prettier

fix
  app/api/auth/[auth0]/route.ts
  app/api/graphql/route.ts
Due: eslint, prettier

mmm
  app/api/graphql/route.ts
Due: eslint, prettier

fx
  app/api/graphql/route.ts
Due: eslint, prettier

editor
  app/(application)/(editor)/Guard.tsx
  app/(application)/(editor)/layout.tsx
Due: eslint, prettier

`@auth0/auth0-nextjs`に一部の機能を移行 (#946)
  .env.production
  app/(application)/(editor)/Guard.tsx
  app/(application)/(editor)/layout.tsx
  app/(application)/(normal)/Guard.tsx
  app/(application)/(normal)/layout.tsx
  app/(application)/layout.tsx
  app/(landing)/about/SignUpButton.tsx
  app/(landing)/about/page.tsx
  app/UrqlProvider.tsx
  app/api/auth/[auth0]/route.ts
  app/api/graphql/route.ts
  components/AuthLink/index.tsx
  components/GlovalNav/LoginButton.tsx
  components/GlovalNav/ProfileAccordion/index.tsx
  components/GlovalNav/index.tsx
  components/Pictogram.tsx
  middleware.ts
  middlewares/withTopRedirect.ts
Due: eslint, prettier

`NicovideoOriginalSource`の破壊的変更に対する修正
  components/Form/RegisterMAD/FromNicovideo/OriginalSource.tsx
  components/Form/RegisterMAD/FromNicovideo/index.stories.tsx
  components/Form/RegisterMAD/FromNicovideo/index.tsx
  components/Form/RequestMAD/FromNicovideo/index.stories.tsx
  components/Form/RequestMAD/FromNicovideo/index.tsx
  components/FormModal/mocks.ts
  schema.graphql
Due: eslint, prettier

`NicovideoOriginalSource`の破壊的変更に対する修正 (#952)
  components/Form/RegisterMAD/FromNicovideo/OriginalSource.tsx
  components/Form/RegisterMAD/FromNicovideo/index.stories.tsx
  components/Form/RegisterMAD/FromNicovideo/index.tsx
  components/Form/RequestMAD/FromNicovideo/index.stories.tsx
  components/Form/RequestMAD/FromNicovideo/index.tsx
  components/FormModal/mocks.ts
  schema.graphql
Due: eslint, prettier

v2 layout
  app/(application)/(normal)/me/MadRegisteredTimelineEvent.tsx
  app/(application)/(normal)/me/RecentLikes.tsx
  app/(application)/(normal)/me/RecentVideos.server.tsx
  app/(application)/(normal)/me/RequestsList.server.tsx
  app/(application)/(normal)/me/RequestsListItem.stories.tsx
  app/(application)/(normal)/me/RequestsListItem.tsx
  app/(application)/(normal)/me/page.tsx
  app/(v2)/(authenticated)/layout.tsx
  app/(v2)/(authenticated)/me/Link.tsx
  app/(v2)/(authenticated)/me/RecentLikes.tsx
  app/(v2)/(authenticated)/me/Timeline.tsx
  app/(v2)/(authenticated)/me/TimelineEvent.stories.tsx
  app/(v2)/(authenticated)/me/TimelineEvent.tsx
  app/(v2)/(authenticated)/me/TimelineSegment.stories.tsx
  app/(v2)/(authenticated)/me/TimelineSegment.tsx
  app/(v2)/(authenticated)/me/page.tsx
  app/(v2)/layout.tsx
  components/GlovalNav/ProfileAccordion/AboutMe.tsx
  tailwind.config.js
Due: eslint, prettier

v2 fix
  app/(v2)/(authenticated)/me/RecentLikes.tsx
  app/(v2)/(authenticated)/me/TimelineEvent.tsx
  app/(v2)/(authenticated)/me/TimelineSegment.tsx
Due: eslint, prettier

v2 layout (#958)
  app/(application)/(normal)/me/MadRegisteredTimelineEvent.tsx
  app/(application)/(normal)/me/RecentLikes.tsx
  app/(application)/(normal)/me/RecentVideos.server.tsx
  app/(application)/(normal)/me/RequestsList.server.tsx
  app/(application)/(normal)/me/RequestsListItem.stories.tsx
  app/(application)/(normal)/me/RequestsListItem.tsx
  app/(application)/(normal)/me/page.tsx
  app/(v2)/(authenticated)/layout.tsx
  app/(v2)/(authenticated)/me/Link.tsx
  app/(v2)/(authenticated)/me/RecentLikes.tsx
  app/(v2)/(authenticated)/me/Timeline.tsx
  app/(v2)/(authenticated)/me/TimelineEvent.stories.tsx
  app/(v2)/(authenticated)/me/TimelineEvent.tsx
  app/(v2)/(authenticated)/me/TimelineSegment.stories.tsx
  app/(v2)/(authenticated)/me/TimelineSegment.tsx
  app/(v2)/(authenticated)/me/page.tsx
  app/(v2)/layout.tsx
  components/GlovalNav/ProfileAccordion/AboutMe.tsx
  tailwind.config.js
Due: eslint, prettier

rm coal
  app/(landing)/about/page.tsx
  components/GlobalFooter/index.tsx
  components/GlovalNav/index.tsx
  tailwind.config.js
Due: eslint, prettier

unused more
  app/(landing)/about/page.tsx
  components/GlobalFooter/index.tsx
  tailwind.config.js
Due: eslint, prettier

不必要な色クラスを削除 (#959)
  app/(landing)/about/page.tsx
  components/GlobalFooter/index.tsx
  components/GlovalNav/index.tsx
  tailwind.config.js
Due: eslint, prettier

色味を調整
  stories/colors.mdx
  tailwind.config.js
Due: eslint, prettier

色味を調整 (#960)
  stories/colors.mdx
  tailwind.config.js
Due: eslint, prettier

fix!
  app/(v2)/mads/[serial]/Preview.tsx
  app/(v2)/mads/[serial]/Semitags.tsx
  app/(v2)/mads/[serial]/Taggings.tsx
  app/(v2)/mads/[serial]/layout.tsx
Due: eslint, prettier

`/tags/[serial]`のv2改修
  app/(application)/tags/[serial]/AliasesDetail.tsx
  app/(application)/tags/[serial]/Parents.tsx
  app/(application)/tags/[serial]/TypeDetail.tsx
  app/(application)/tags/[serial]/VideoGrid.tsx
  app/(application)/tags/[serial]/layout.tsx
  app/(application)/tags/[serial]/page.tsx
  app/(v2)/mads/[serial]/SimilarVideos.stories.tsx
  app/(v2)/tags/[serial]/Link.tsx
  app/(v2)/tags/[serial]/layout.tsx
  app/(v2)/tags/[serial]/page.tsx
  components/CommonMadBlock/index.tsx
  components/CommonTagLink/index.tsx
  components/SearchContents/SearchTags.tsx
Due: eslint, prettier

fx
  app/(v2)/tags/[serial]/layout.tsx
Due: eslint, prettier

少し修正
  app/(v2)/tags/[serial]/layout.tsx
Due: eslint, prettier

`/tags/[serial]`のv2改修 (#967)
  app/(application)/tags/[serial]/AliasesDetail.tsx
  app/(application)/tags/[serial]/Parents.tsx
  app/(application)/tags/[serial]/TypeDetail.tsx
  app/(application)/tags/[serial]/VideoGrid.tsx
  app/(application)/tags/[serial]/layout.tsx
  app/(application)/tags/[serial]/page.tsx
  app/(v2)/mads/[serial]/SimilarVideos.stories.tsx
  app/(v2)/tags/[serial]/Link.tsx
  app/(v2)/tags/[serial]/layout.tsx
  app/(v2)/tags/[serial]/page.tsx
  components/CommonMadBlock/index.tsx
  components/CommonTagLink/index.tsx
  components/SearchContents/SearchTags.tsx
Due: eslint, prettier

rm prettier tailwind plugin
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier

Pagination
  app/(v2)/tags/[serial]/Pagination.stories.tsx
  app/(v2)/tags/[serial]/Pagination.tsx
  app/(v2)/tags/[serial]/page.tsx
  schema.graphql
  tailwind.config.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,md,html,json,yml,yaml,graphql}
