Repository otomadb/web: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: 'pnpm eslint --fix {staged_files}
  
    git add {staged_files}
  
    '
  skip:
  - merge
  - rebase

prettier:
  run: 'pnpm prettier --write --ignore-unknown {staged_files}
  
    git add {staged_files}
  
    '
  skip:
  - merge
  - rebase

Bilibili の動画リクエストをタイムラインに流す
  app/(v2)/home/BilibiliRequestTimelineEvent.stories.tsx
  app/(v2)/home/BilibiliRequestTimelineEvent.tsx
  app/(v2)/home/NicovideoRequestTimelineEvent.stories.tsx
  app/(v2)/home/TimelineEvent.tsx
  app/(v2)/home/YoutubeRequestTimelineEvent.stories.tsx
  schema.graphql
Due: eslint, prettier

Bilibili の動画リクエストをタイムラインに流す (#1146)
  app/(v2)/home/BilibiliRequestTimelineEvent.stories.tsx
  app/(v2)/home/BilibiliRequestTimelineEvent.tsx
  app/(v2)/home/NicovideoRequestTimelineEvent.stories.tsx
  app/(v2)/home/TimelineEvent.tsx
  app/(v2)/home/YoutubeRequestTimelineEvent.stories.tsx
  schema.graphql
Due: eslint, prettier

Update `graphql.schema`
  schema.graphql
Due: prettier

`/requests/{youtube,bilibili,soundcloud}`の追加
  app/(v2)/requests/RegisterButton.tsx
  app/(v2)/requests/RequestsPageCommon.tsx
  app/(v2)/requests/bilibili/page.tsx
  app/(v2)/requests/nicovideo/RegisterButton.tsx
  app/(v2)/requests/soundcloud/Link.tsx
  app/(v2)/requests/soundcloud/page.tsx
  app/(v2)/requests/youtube/page.tsx
  components/AppSideNav/index.tsx
  schema.graphql
Due: eslint, prettier

FormWIdgetの軽微な修正
  components/FormWidget/AddMAD/SourceIDForm.tsx
  components/FormWidget/AddMAD/Youtube/YoutubeRegisterForm.tsx
Due: eslint, prettier

`/requests/{youtube,bilibili,soundcloud}`の追加 (#1148)
  app/(v2)/requests/RegisterButton.tsx
  app/(v2)/requests/RequestsPageCommon.tsx
  app/(v2)/requests/bilibili/page.tsx
  app/(v2)/requests/nicovideo/RegisterButton.tsx
  app/(v2)/requests/soundcloud/Link.tsx
  app/(v2)/requests/soundcloud/page.tsx
  app/(v2)/requests/youtube/page.tsx
  components/AppSideNav/index.tsx
Due: eslint, prettier

FormWidgetの軽微な修正 (#1149)
  components/FormWidget/AddMAD/SourceIDForm.tsx
  components/FormWidget/AddMAD/Youtube/YoutubeRegisterForm.tsx
Due: eslint, prettier

WidgetFormのSoundCloud周りを修正
  components/FormWidget/AddMAD/SourceID/AlreadyRegistered.tsx
  components/FormWidget/AddMAD/SourceID/AlreadyRequested.tsx
  components/FormWidget/AddMAD/SourceID/BilibiliConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/NicovideoConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/SoundcloudConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/SubmitButton.tsx
  components/FormWidget/AddMAD/SourceID/YoutubeConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/index.stories.tsx
  components/FormWidget/AddMAD/SourceID/index.tsx
  components/FormWidget/AddMAD/SourceIDForm.tsx
  components/FormWidget/index.tsx
  schema.graphql
Due: eslint, prettier

fx
  app/(v2)/requests/RegisterButton.tsx
  components/FormWidget/AddMAD/SourceID/SoundcloudConfirmForm.tsx
Due: eslint, prettier

SoundCloud と Bilibili のリクエストの解決が出来ていない
  components/FormWidget/AddMAD/Bilibili/BilibiliRegisterForm.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRegisterForm.tsx
  schema.graphql
Due: eslint, prettier

WidgetFormのSoundCloud周りを修正 (#1150)
  app/(v2)/requests/RegisterButton.tsx
  components/FormWidget/AddMAD/SourceID/AlreadyRegistered.tsx
  components/FormWidget/AddMAD/SourceID/AlreadyRequested.tsx
  components/FormWidget/AddMAD/SourceID/BilibiliConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/NicovideoConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/SoundcloudConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/SubmitButton.tsx
  components/FormWidget/AddMAD/SourceID/YoutubeConfirmForm.tsx
  components/FormWidget/AddMAD/SourceID/index.stories.tsx
  components/FormWidget/AddMAD/SourceID/index.tsx
  components/FormWidget/AddMAD/SourceIDForm.tsx
  components/FormWidget/index.tsx
  schema.graphql
Due: eslint, prettier

fx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRegisterForm.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRequestForm.tsx
  schema.graphql
Due: eslint, prettier

fx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRequestForm.stories.tsx
Due: eslint, prettier

ページに必要な数のリクエストがない場合の挙動を修正
  app/(v2)/requests/NoRequests.tsx
  app/(v2)/requests/RequestsPageCommon.tsx
  app/(v2)/requests/bilibili/page.tsx
  app/(v2)/requests/nicovideo/page.tsx
  app/(v2)/requests/soundcloud/page.tsx
  app/(v2)/requests/youtube/page.tsx
Due: eslint, prettier

MADページの初回生成を一旦コメントアウト
  app/(v2)/mads/[serial]/page.tsx
Due: eslint, prettier

ページに必要な数のリクエストがない場合の挙動を修正 (#1156)
  app/(v2)/requests/NoRequests.tsx
  app/(v2)/requests/RequestsPageCommon.tsx
  app/(v2)/requests/bilibili/page.tsx
  app/(v2)/requests/nicovideo/page.tsx
  app/(v2)/requests/soundcloud/page.tsx
  app/(v2)/requests/youtube/page.tsx
Due: eslint, prettier

SoundCloud と Bilibili のリクエストの解決が出来ていない (#1152)
  components/FormWidget/AddMAD/Bilibili/BilibiliRegisterForm.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRegisterForm.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRequestForm.stories.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRequestForm.tsx
  schema.graphql
Due: eslint, prettier

ページ側にPaddingを持つ Fixes #1160
  app/(v2)/docs/layout.tsx
  app/(v2)/home/page.tsx
  app/(v2)/layout.tsx
  app/(v2)/mads/[serial]/layout.tsx
  app/(v2)/me/layout.tsx
  app/(v2)/notifications/page.tsx
  app/(v2)/requests/NoRequests.tsx
  app/(v2)/settings/page.tsx
  app/(v2)/tags/[serial]/layout.tsx
  app/(v2)/users/[name]/layout.tsx
Due: eslint, prettier

ページ側にPaddingを持つ (#1161)
  app/(v2)/docs/layout.tsx
  app/(v2)/home/page.tsx
  app/(v2)/layout.tsx
  app/(v2)/mads/[serial]/layout.tsx
  app/(v2)/me/layout.tsx
  app/(v2)/notifications/page.tsx
  app/(v2)/requests/NoRequests.tsx
  app/(v2)/settings/page.tsx
  app/(v2)/tags/[serial]/layout.tsx
  app/(v2)/users/[name]/layout.tsx
Due: eslint, prettier

RequestsPageの共通化
  app/(v2)/mads/[serial]/Preview.tsx
  app/(v2)/requests/AcceptRequestButton.tsx
  app/(v2)/requests/RequestPageCommon.tsx
  app/(v2)/requests/bilibili/[sourceId]/page.tsx
  app/(v2)/requests/nicovideo/[sourceId]/AcceptRequestButton.tsx
  app/(v2)/requests/soundcloud/[sourceId]/page.tsx
  app/(v2)/requests/youtube/[sourceId]/page.tsx
  utils/mkBilibiliAutoplayDisabled.ts
Due: eslint, prettier

RequestsPageの共通化 (#1164)
  app/(v2)/mads/[serial]/Preview.tsx
  app/(v2)/requests/AcceptRequestButton.tsx
  app/(v2)/requests/RequestPageCommon.tsx
  app/(v2)/requests/bilibili/[sourceId]/page.tsx
  app/(v2)/requests/nicovideo/[sourceId]/AcceptRequestButton.tsx
  app/(v2)/requests/soundcloud/[sourceId]/page.tsx
  app/(v2)/requests/youtube/[sourceId]/page.tsx
  utils/mkBilibiliAutoplayDisabled.ts
Due: eslint, prettier

VSCodeの推奨拡張機能を整理
  .vscode/extensions.json
Due: prettier

VSCodeの推奨拡張機能を整理 (#1166)
  .vscode/extensions.json
Due: prettier

rm `.husky`
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: none

rm `.husky` (#1167)
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
Due: none

TagCategorizerWidgetを追加
  app/(v2)/tags/[serial]/Editor.tsx
  app/(v2)/tags/[serial]/layout.tsx
  app/api/auth/[auth0]/route.ts
  components/FormWidget/FormWrapper.tsx
  components/FormWidget/TagCategorizer/index.stories.tsx
  components/FormWidget/TagCategorizer/index.tsx
  components/FormWidget/index.tsx
  tailwind.config.js
Due: eslint, prettier

fx
  components/FormWidget/TagCategorizer/index.stories.tsx
Due: eslint, prettier

TagCategorizeWidgetを実装 (#1168)
  app/(v2)/tags/[serial]/Editor.tsx
  app/(v2)/tags/[serial]/layout.tsx
  app/api/auth/[auth0]/route.ts
  components/FormWidget/FormWrapper.tsx
  components/FormWidget/TagCategorizer/index.stories.tsx
  components/FormWidget/TagCategorizer/index.tsx
  components/FormWidget/index.tsx
  tailwind.config.js
Due: eslint, prettier

への改修
  app/(application)/(editor)/editor/semitags/ResolveSucceededToast.stories.tsx
  app/(application)/(editor)/editor/semitags/SemitagRow.stories.tsx
  app/(application)/(editor)/editor/tags/AddTagForm/SelectedTag.stories.tsx
  app/(application)/(editor)/editor/tags/AddTagForm/SelectedTag.tsx
  app/(application)/(editor)/editor/tags/AddTagForm/useRegister.ts
  app/(v2)/mads/[serial]/TagEditor.stories.tsx
  app/(v2)/mads/[serial]/Taggings.tsx
  components/CommonTag/Button.stories.tsx
  components/CommonTag/index.stories.tsx
  components/CommonTag/index.tsx
  components/FormWidget/AddMAD/Bilibili/BilibiliRegisterForm.stories.tsx
  components/FormWidget/AddMAD/Bilibili/BilibiliRequestForm.stories.tsx
  components/FormWidget/AddMAD/Nicovideo/NicovideoRegister.stories.tsx
  components/FormWidget/AddMAD/Nicovideo/NicovideoRequestForm.stories.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRegisterForm.stories.tsx
  components/FormWidget/AddMAD/Youtube/YoutubeRegisterForm.stories.tsx
  components/FormWidget/TagCategorizer/index.stories.tsx
  components/FormWidget/TagCategorizer/index.tsx
  components/SearchContents/Nicovideo.stories.tsx
  components/SearchContents/SearchTags.stories.tsx
  components/TagSearcher/SuggestItem.stories.tsx
  components/TagSearcher/Suggests.stories.tsx
  components/TagSearcher/index.mocks.ts
  components/TagSearcher/index.stories.tsx
  components/TagType.tsx
  schema.graphql
Due: eslint, prettier

fix
  schema.graphql
Due: prettier

`Tag.belongTo`への改修 (#1174)
  app/(application)/(editor)/editor/semitags/ResolveSucceededToast.stories.tsx
  app/(application)/(editor)/editor/semitags/SemitagRow.stories.tsx
  app/(application)/(editor)/editor/tags/AddTagForm/SelectedTag.stories.tsx
  app/(application)/(editor)/editor/tags/AddTagForm/SelectedTag.tsx
  app/(application)/(editor)/editor/tags/AddTagForm/useRegister.ts
  app/(v2)/mads/[serial]/TagEditor.stories.tsx
  app/(v2)/mads/[serial]/Taggings.tsx
  components/CommonTag/Button.stories.tsx
  components/CommonTag/index.stories.tsx
  components/CommonTag/index.tsx
  components/FormWidget/AddMAD/Bilibili/BilibiliRegisterForm.stories.tsx
  components/FormWidget/AddMAD/Bilibili/BilibiliRequestForm.stories.tsx
  components/FormWidget/AddMAD/Nicovideo/NicovideoRegister.stories.tsx
  components/FormWidget/AddMAD/Nicovideo/NicovideoRequestForm.stories.tsx
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRegisterForm.stories.tsx
  components/FormWidget/AddMAD/Youtube/YoutubeRegisterForm.stories.tsx
  components/FormWidget/TagCategorizer/index.stories.tsx
  components/FormWidget/TagCategorizer/index.tsx
  components/SearchContents/Nicovideo.stories.tsx
  components/SearchContents/SearchTags.stories.tsx
  components/TagSearcher/SuggestItem.stories.tsx
  components/TagSearcher/Suggests.stories.tsx
  components/TagSearcher/index.mocks.ts
  components/TagSearcher/index.stories.tsx
  components/TagType.tsx
  schema.graphql
Due: eslint, prettier

SoundCloudのリクエスト時のサムネイルのnullableを排除
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRequestForm.tsx
Due: eslint, prettier

SoundCloudのリクエスト時のサムネイルのnullableを排除 (#1175)
  components/FormWidget/AddMAD/Soundcloud/SoundcloudRequestForm.tsx
  schema.graphql
Due: eslint, prettier

Ignore `lefthook-local.yml`
  .gitignore
Due: none

fx
  lefthook.yml
Due: prettier

Lefthook周りを修正 (#1176)
  .gitignore
  lefthook.yml
Due: prettier

`Tag.isCategoryTag`などを排除
  app/(v2)/tags/[serial]/layout.tsx
  components/TaggingsList/index.tsx
  schema.graphql
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx,mdx}
  prettier: any of: *.{js,ts,jsx,tsx,md,mdx,html,json,yml,yaml,graphql}
